#simple_notifier_table .is_read.odd {
    background-color: #DDDDD9;
}

#simple_notifier_table .not_read {
    background-color: #D4F9C7;
}

table.simple_notifier_table td, table.simple_notifier_table th {
    padding: 0px 10px;
}